:root {
    --primary-color: #007bff;
    --light-bg: #f8f9fa;
    --border-color: #dee2e6;
    --font-main: 'Roboto', sans-serif;
    --font-size-base: 1rem;
    --font-size-lg: 1.5rem;
    --spacing: 1rem;
    --max-width: 1920px;
    --chart-min-width: 890px
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-main);
    font-size: var(--font-size-base);
    background-color: #f8f9fa;
    color: #333;
}

.header {
    background-color: var(--light-bg);
    padding: var(--spacing) 2rem var(--spacing) 0;
    border-bottom: 1px solid var(--border-color);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left p {
    text-transform: uppercase;
    font-size: var(--font-size-lg);
    letter-spacing: 1px;
}

.header-left img {
    max-height: 3.75rem;
    /* 60px */
    margin-right: 1rem;
}

.header-right .nav-link {
    margin-left: 1.25rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s;
}

.header-right .nav-link:hover {
    color: darken(var(--primary-color), 10%);
}

.app-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

#page-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing);
}

#charts {
    width: 100%;
}

#charts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--chart-min-width), 1rem));
    gap: var(--spacing);
    justify-content: space-evenly;
}

.chart-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: var(--spacing);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.live-graph{
    height: 350px;
    width: 100%
}

.radio-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.graph-filter-fieldset {
    border: none;
    padding: 0;
    margin: 0 0 var(--spacing) 0;
}

.graph-filter-fieldset legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
}

/* assets/404.css */

.centered-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    color: #343a40;
}

.centered-404 h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.centered-404 p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.centered-404 a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.centered-404 a:hover {
    text-decoration: underline;
}